h1{
    text-align: center;
}

table{
  
   /* display: flex;
    flex-direction: column;*/
    border : 2px solid black;
    

}


.firstname{
   width:20%;
  /* border : 2px solid black;*/

}

.lastname{
    width:20%;
 
 }

 .email{
    width:40%;
 
 }

 .title{
    width:20%;
 
 }


 ul{
     display:flex ;
     flex-direction:row;
     width: 100%;
     justify-content: space-evenly;


 }
 li{
list-style: none;
    
 }